.root {
  background-color: black;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.title {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
}

.actions {
  color: rgb(238, 238, 238);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;

  .start {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    word-spacing: normal;
    letter-spacing: 5px;
    border: 1px solid white;
    background: black;
  }
}